ressourcen-profile/**/VitalSignDE*
VitalSignDE*
fsh-generated/resources/StructureDefinition-sd-mii-icu-clinical-fraitly-scale.json
fsh-generated/resources/ImplementationGuide-fhir.example.json
fsh-generated/includes
input/fsh/score.fsh
